.jumbotron {
  background-image: url(http://i.imgur.com/WDrSL82.jpg) !important;
  color: white;
  background-size: 100% 100%;
}

.spot {
  background-color: rgb(213, 212, 212);
  width: 13em;;
  min-height: 10em;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

.dashboard {
  font-size: 4em;
}

.map-canvas {
  width: 100%;
  height: 500px;
}

.btn .new {
  float: right;
}

.navbar {
  margin-bottom: 0;
}

/*-------------  SPINNER  ------------*/
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
