.jumbotron {
  background-image: url(http://i.imgur.com/WDrSL82.jpg) !important;
  color: white;
  background-size: 100% 100%;
}


.spot {
  background-color: rgb(213, 212, 212);
  width: 25vw;
  min-height: 15vw;
  border-radius: 10px;
}
