
  {{#each place in model}}
    <div class="spot">
      {{#link-to 'place' place}}
        CO: {{place.name}}
      {{/link-to}}
      JAK: {{place.description}}
      GDZIE: {{place.location}}
    </div>
  {{/each}}
