places index
<ul>
  {{#each place in model}}
    <li>
      {{#link-to 'places.show place'}}
        {{place.name}}
      {{/link-to}}
      {{link-to 'edit' 'places.edit' place}}
    </li>
  {{/each}}
</ul>
