<div class="container-float dashboard">
  DASHBOARD
</div>
<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
  {{#each place in model}}
    <tr>
      <td class="primary">
        {{#link-to 'place' place}}
          {{place.name}}
        {{/link-to}}
      </td>
      <td>
        {{place.location}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
