<div class="jumbotron">
  <div class="container">
    <h1> Urban thunder </h1>
    <p> jezus maria robienie czegokolwiek na kacu jest najlepszym przeżyciem ever </p>
    <p> pierdolisz </p>
  </div>
</div>
<section class="container">
  <p> Tutaj wyląduje prędzej czy później jakiś #each który wylistuje cośki z firebase'a </p>
  <p> do tego czasu będzie odrobine pustawo </p>
</section>
<section class="container">
<div class="spot">

  <ul>
    {{#each place in model}}
    <li>
      {{#link-to 'place' this}}
      Test
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
  <p></p>
</div>
</section>
{{outlet}}
