<header>
  <h2 class="text-center"> Przepaśna apka do obczajania najlepszych knajpek w okolicy </h2>
</header>
<div class="jumbotron">
  <div class="container">
    <h1> Urban thunder </h1>
    <p> jezus maria robienie czegokolwiek na kacu jest najlepszym przeżyciem ever </p>
  </div>
</div>
<section class="container">
  <p> Tutaj wyląduje prędzej czy później jakiś #each który wylistuje cośki z firebase'a </p>
  <p> do tego czasu będzie odrobine pustawo </p>
</section>

{{outlet}}
